.Home_main_div{
    display:flex;
    flex-direction:column;
    position:relative;
    column-gap:10px;
}
.PrevArrow{
    opacity: 0;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    z-index: 10;
    border-radius: 50%;
   
}
.slick-track:hover{
   opacity: 1.0;
}
.NextArrow{
    opacity: 0;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
     
}
.style_slider:hover .NextArrow{
   opacity: 1;
}
.style_slider:hover .PrevArrow{
   opacity: 1;
}
.imagecarousal{
   height:140px;
   width:240px;
   border-radius: 12px;
   margin-left:10px;
}

.main_cont{
    margin-left:20px;
    border-radius:40px;
    position: absolute;
    text-align:center;
}
.free_tag_div{
    position:relative;
    top: -140px;
    left: -95px;
}
.card_div{
  background-color:rgb(28, 26, 26);
  opacity:0;
  z-index:9999;
  margin-top: -200px;
  position: absolute;
  /* top:0;
  left:20px; */
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  border-radius: 12px;
  object-fit:fill;
  padding-bottom: 10px;
}
.card_content{
    display:flex;
    flex-direction:row;
    gap:13px;
    
    /* position: absolute;
    top:100px;
    left:20px; */
    margin-top: 20px;
    padding-left: 17px;
}
.subscribe_btn{
    /* position: absolute; */
    background-color: white;
    border-radius: 17px;
    padding-inline: 20px;
    font-size: 15px;
    z-index: 9999;
    color:black;
    font-weight: bold;
    padding-top: 5px;
}
.subscribe_btn:hover{
    /* position: absolute; */
    background-color: rgb(113, 110, 110);
    border-radius: 17px;
    padding-inline: 20px;
    font-size: 15px;
    z-index: 9999;
    color:black;
    font-weight: bold;
    padding-top: 5px;
}
.plus_list_btn{
    /* position: absolute; */
    z-index: 9999;
    background-color: gray;
    color:white;
    margin-left: -1px;
    border-radius: 50%;
    padding-inline: 10px;
    padding-bottom: 5px;
    padding-top: 3px;
}
.Tooltip {
  visibility: hidden;
  width: 64px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 8px;
  padding: 0px 0;
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  z-index: 1;
  bottom: 25%;
  left: 67%;
  margin-left: -60px;
}
.Tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.plus_list_btn:hover .Tooltip{
    /* position: absolute; */
    visibility: visible;
    opacity: 1;
    /* z-index: 9999;
    background-color: white;
    color:black;
    margin-left: -1px;
    border-radius: 50%;
    padding-inline: 10px;
    padding-bottom: 5px;
    padding-top: 3px; */
}
.plus_list_btn:hover{
    z-index: 9999;
    background-color: white;
    color:black;
    margin-left: -1px;
    border-radius: 50%;
    padding-inline: 10px;
    padding-bottom: 5px;
    padding-top: 3px;
}
.slider_image:hover .card_div{
 opacity:1;
 /* visibility: visible; */
 /* position: absolute; */
  z-index: 9999;
  transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
  transition-delay: 0.6s;
}
 .slider_image_1:hover{
    transform:scale(1.3);
    transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
    transition-delay: 0.6s;
 }
 .picbanner{

    top:0px;
    left:0px;
    height:750px;
    width:100%;
 }
 .pictext1{
    position:absolute;
    top: 500px;
    left: 4px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:50px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 550px;
     left: 6px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:21px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
}
@media screen and (max-width:360px) {
   .picbanner{
    top:0px;
    left:0px;
    height:380px;
    width:100%;
 }
 .card_div{
        display:none;
}
.style_slider1 {
    display:none;
}
.pictext1{
  position:absolute;
    top: 330px;
    left: 4px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:26px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 355px;
    left: 6px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:12px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }

}
@media screen and (min-width:375px){
   .picbanner{
    top:0px;
    left:0px;
    height:380px;
    width:100%;
 }
 .card_div{
        display:none;
}
.style_slider1 {
    display:none;
}
.pictext1{
  position:absolute;
    top: 330px;
    left: 4px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:26px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 355px;
    left: 6px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:12px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }

}
 @media screen and (min-width:1040px){
.card_div{
        display:none;
}
.style_slider1 {
    display:none;
}

.picbanner{
    top:0px;
    left:0px;
    height:600px;
    width:100%;
 }
 .pictext1{
  position:absolute;
    top: 520px;
    left: 4px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:50px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 565px;
    left: 6px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:21px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }
 @media screen and (min-width:650px){
.picbanner{
    top:0px;
    left:0px;
    height:600px;
    width:100%;
 }
 .pictext1{
  position:absolute;
    top: 540px;
    left: 4px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:30px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 570px;
    left: 6px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:15px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }

 @media screen and (min-width:400px){
.picbanner{
    top:0px;
    left:0px;
    height:460px;
    width:100%;
 }
 .pictext1{
  position:absolute;
    top: 400px;
    left: 4px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:27px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 430px;
    left: 6px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:14px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }
 @media screen and (min-width:768px){
   .pictext1{
  position:absolute;
    top: 394px;
    left: 4px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:40px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 430px;
    left: 6px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:19px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }
 @media screen and (min-width:1024px){
   .picbanner{
    top:0px;
    left:0px;
    height:600px;
    width:100%;
 }
   .pictext1{
  position:absolute;
    top: 385px;
    left: 8px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:43px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 428px;
    left: 10px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:21px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }
 @media screen and (min-width:912px){
   .pictext1{
  position:absolute;
    top: 385px;
    left: 8px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:43px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 428px;
    left: 10px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:21px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }
 @media screen and (min-width:344px){
   .card_div{
        display:none;
}
.style_slider1 {
    display:none;
}

.picbanner{
    top:0px;
    left:0px;
    height:400px;
    width:100%;
 }
 .pictext1{
  position:absolute;
    top: 350px;
    left: 4px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:24px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 370px;
    left: 6px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:10px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }
  @media screen and (min-width:853px){
   .pictext1{
  position:absolute;
    top: 335px;
    left: 8px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:43px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 370px;
    left: 10px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:21px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }
 @media screen and (min-width:540px){
   .pictext1{
  position:absolute;
    top: 345px;
    left: 8px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:30px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 375px;
    left: 10px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:15px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }
 @media screen and (min-width:1280px){
.style_slider1{
   display:block;
}
   .picbanner{
    top:0px;
    left:0px;
    height:750px;
    width:100%;
 }
   .pictext1{
  position:absolute;
    top: 530px;
    left: 8px;
 }
 .pictext1 span{
    color:white;
    background:none;
    border-radius:17px;
    font-size:50px;
    font-weight:bold;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 .pictext2{
    position:absolute;
    top: 570px;
    left: 10px;
 }
 .pictext2 span{
    color:white;
    background:none;
    border-radius: 17px;
    font-size:21px;
    font-weight:normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
 }
 }